:root {
    --main-font: "EB Garamond", serif;
    --main-font-size: 1rem;
    --main-header-color: #2F4151;
    --main-color: #000000;
    --main-bg-color: #fefff8;
    --main-font-weight: 300;
}

body {
    margin: 0;
    font-family: var(--main-font);
    background-color: var(--main-bg-color);
    color: #333333;
    overflow-x: hidden;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--main-bg-color);
    box-shadow: 6px 10px 20px rgba(52, 52, 52, 0.23);
    text-wrap: balance;
}

header {
    text-align: center;
    overflow: hidden;
}

header>img {
    width: 100%;
    height: auto;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

h1,
h2,
h3,
h4 {
    color: var(--main-header-color);
    margin: 2px;
    font-weight: var(--main-font-weight);
    letter-spacing: 1px;
}

h1,
footer {
    font-size: 30px;
    text-transform: uppercase;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 15px;
    font-weight: bolder;
}


p {
    margin: 2px;
    margin-top: 6px;
}

ul {
    text-align: start;
    list-style-type: circle;
    font-size: 16px;
    margin: 1px;
    padding-left: 18px;
}

main {
    text-align: start;
    padding: 1em;
    margin: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px;
}

.welcome-information {
    text-align: center;
}

#welcome-title {
    color: var(--main-header-color);
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

#info-container {
    max-width: 40em;
    margin: 0 auto;
    padding: 6px;
    font-size: 1rem;
}

#ceremony-dinner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

#ceremony {
    grid-column: 1;
    grid-row: 1;
}

#dinner-party {
    grid-column: 2;
    grid-row: 1;
}

#ceremony-dinner,
#dresscode,
#weddingspeech,
.transfer-staying,
#gifts,
#plusone,
.attendance-information {
    padding-top: 1em;
    padding-bottom: 1em;
}

#toasters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

ul.noDot {
    padding: 0;
}

.noDot>li {
    list-style-type: none;
    margin-left: 4px;
}

#toasters h3 {
    font-size: 22px;
}

#toastmadame {
    grid-column: 1;
    grid-row: 1;
}

#toastmaster {
    grid-column: 2;
    grid-row: 1;
}

.transfer-staying {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#staying {
    grid-column: 1;
    grid-row: 1;
}

#hotels {
    text-align: start;
}

#parking {
    grid-column: 2;
    grid-row: 1;
}

#parking h2 {
    font-size: 22px;
}

#lastCall {
    padding-top: 5px;
    font-style: italic;
    letter-spacing: 1px;
}

.wedding-details {
    margin-bottom: 30px;
    color: var(--main-header-color);
    margin: 2px;
    font-size: 16px;
}

#mail,
#ferry {
    color: var(--main-header-color);
    font-style: italic;
    font-weight: bolder;
}

footer {
    display: flex;
    padding: 5px;
    text-align: center;
    justify-content: center;
}

footer p {
    color: #3e594e;
    font-size: 28px;
    padding-top: 0.8em;
    white-space: nowrap;
}

footer img#E1,
footer img#E2 {
    max-width: 20%;
    max-height: 100%;
    opacity: 80%;
}

@media only screen and (max-width: 550px) {
    .container {
        max-width: 100%;
    }

    header {
        max-width: 100%;
    }

    main,
    .wedding-details,
    #ceremony-dinner,
    .transfer-staying,
    #toasters {
        grid-template-columns: 1fr auto;
        grid-row: auto;
    }

    #ceremony,
    #dinner-party,
    #staying,
    #hotels-list,
    #parking,
    #stayinginfo,
    #toastmadame,
    #toastmaster {
        grid-column: 1;
        grid-row: auto;
    }

    footer img#E1,
    footer img#E2 {
        display: none;
    }

    #dinner-party{
        padding-top: 1em;
    }

    #parking {
        padding-top: 1em;
    }

    footer p {
        font-size: 30px;
    }

}
