body {
    margin: 0;
    font-family: "EB Garamond", serif;
    background-color: #e4eefd;
    color: #333333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
    background-color: white;
}

header>img {
    display: flex;
    align-content: center;
    max-width: 800px;
    margin: 0px;
}

/* h1 {
    color: #2F4151;
    margin: 1px;
    font-weight: 50;
    font-size: 30px;
} */

h2 {
    margin: 2px;
    padding: 2px;
    color: #2F4151;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1px;
}

/* #alexandra,
#adam {
    font-weight: bolder;
}

#olsson,
#and,
#andersson {
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    margin: 0px;
} */

.wedding-details {
    margin-bottom: 30px;
    color: #2F4151;
    margin: 2px;
    font-size: 16px;
    /* border-bottom: #2F4151;
    border-style: dashed;
    border-width: 2px; */
}

hr {
    margin-top: 3px;
}

#important {
    font-style: italic;
    font-size: 17px;
}

main {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px;
}

input,
select,
textarea {
    font-size: 17px;
    font-family: "EB Garamond", serif;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.attendance-Formula {
    font-size: 17px;
}

button {
    background-color: #8db580;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 100%;
}

button:hover {
    background-color: #638b66;
    /* mörkare färg vid hover */
}